.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.logo img {
  height: 115px;
  width: auto;
  max-width: 100%;
}

.nav-links {
  display: flex;
  position: relative;
  right: 0;
  border: 2px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 60px;
  padding: 5px;
  gap: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: white;
  font-weight: 500;
  padding: 17px 25px;
  border-radius: 60px;
  transition: 0.3s ease;
}
.nav-link.active {
  background-color: white;
  color: black;
}

.nav-link:hover:not(.active) {
  transition: 0.5s;
  background-color: rgb(255, 255, 255);
  color: black;
}

/* Responsive styles */
@media (max-width: 768px) {
  .header-container {
    padding: 10px 20px;
  }
  .logo img {
    height: 80px;
  }
  .nav-link {
    padding: 12px 15px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .header-container {
    padding: 8px 10px;
  }
  .logo img {
    height: 60px;
  }
  .nav-link {
    padding: 10px 8px;
    font-size: 12px;
  }
}
