<div class="full-page-image about-image">
  <!-- Bloc principal -->
  <div class="Vav">
    <!-- Bloc texte About à gauche -->
    <div class="border">
      <h1 class="texte-reflet" data-text="À propos">À propos</h1>
      <h1 class="texte-border" data-text="À propos">À propos</h1>
    </div>

    <!-- Texte à droite -->
    <div class="right-text-block">
      <p class="styled-paragraph">
        ✂️ Passionné par le <span class="stroke">montage</span> et la <span class="stroke">création</span>
      </p>
    </div>
  </div>

  <!-- Texte en haut à gauche -->
  <div class="left-top-text">
    <p class="styled-line">
      🎬 Monteur vidéo en 
      <span class="stroke-line">
        <span class="stroke">freelance</span>
      </span>
    </p>
  </div>

  <!-- Texte en bas à gauche -->
  <div class="left-bottom-text">
    <p class="styled-line">💬 Besoin d’un monteur ?</p>
    <p class="styled-line">
      N’hésitez pas à me contacter pour vos 
      <span class="stroke">projets</span> !
    </p>
  </div>
</div>
