html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

:host {
  display: block;
  height: 100%;
  width: 100%;
  font-family: 'Special Gothic Expanded One', sans-serif;
}

.full-page-image {
  width: 100vw;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Fond image */
.home-image {
  background-image: url('/assets/home.png');
}


.texte-reflet {
  font-size: clamp(2rem, 4vw, 4rem); /* Responsive */
  color: white;
  font-weight: bold;
  position: relative;
  left: 4px;
  top: 20px;
  filter: blur(1px);
  z-index: 1;
}

.texte-reflet::after {
  content: attr(data-text);
  position: absolute;
  top: 150%;
  left: 0;
  color: rgb(10, 10, 10);
  transform: scaleY(1);
  pointer-events: none;
  opacity: 0.8;
}

/* Texte avec bordure blanche (stroke) */
.texte-border {
  font-size: clamp(2rem, 5vw, 4rem);
  font-weight: bold;
  color: transparent;
  -webkit-text-stroke: 1px white;
  z-index: 11;
}


/* Conteneur principal du texte */
.Vav {
  display: flex;
  justify-content: flex-start; /* Aligné à gauche par défaut */
  align-items: center;
  height: 100vh;
  padding: 0 5%;
  position: relative;
  z-index: 2;
}


@media (max-width: 600px) {
  .Vav {
    justify-content: center;      /* Centrer horizontalement */
    align-items: center;          /* Centrer verticalement */
    text-align: center;           /* Centrer le texte */
  }

  .border {
    align-items: center;          /* Centrer chaque élément de texte */
    gap: 10px;                    /* Espace vertical entre les éléments */
  }
}


.border {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
  bottom: 30px ;
  position: relative;
}